.Comunicação {
    background-color: RGB(55, 140, 98);
    color: white;
    font-size: 1em;
    display: block;
    clear: both;
    float: none;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.Curriculo {
    background-color: RGB(0, 0, 0);
    color: white;
    font-size: 1em;
    display: block;
    clear: both;
    float: none;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.CAT {
    background-color: RGB(55, 140, 98);
    color: white;
    font-size: 1em;
    display: block;
    clear: both;
    float: none;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.BatePapo {
    background-color: RGB(0, 0, 0);
    color: white;
    font-size: 1em;
    display: block;
    clear: both;
    float: none;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.sala {
    color: white;
    font-size: 30px;
    position: center;
}

.figura1 {
    float: left;
    margin: 0 10px 10px;
    object-fit: fill;
    background-size: cover;
}

.figura2 {
    float: right;
    margin: 0 10px 10px;
    background-size: cover;
    object-fit: fill;
}

.frase {
    background-color: RGB(0, 0, 0);
    color: white;
    display: block;
    padding: 20px 0;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 20px;
    text-align: justify;
}

.fonte {
    text-align: center;
    font-size: 15px;
}

.andar_content {
    margin-left: -15px;
    width: 111%;
}

.texto{
    text-align: justify;
}

.andar {
    font-size: 60px;
    color: white;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}