@{
    ViewBag.Title = "PrimeiroAndar";
}

<div class="andar_content">
    
    <link href="~/Content/andar1.css" rel="stylesheet" />
    <div class="img">
        <div class="andar">1º Andar</div>
        <img src="~/Imagens/img1Andar.jpg" style="width:100%" />
    </div>

    <div class="frase">
        Neste andar teremos diversas apresentações e exibições de projetos voltados para a área
        de Informática e Administração, é uma ótima opção para aqueles que gostam de informática ou querem aprender um pouco 
        sobre contabilidade e empreendedorismo.
    </div>
    <div class="Info">
        <figure class="figura1">
            <img src="~/Imagens/curso-de-informatica-basica.jpg" width="150" height="150" alt="Imagem Xis">
        </figure>

        <center class="sala">
            <div><b>Sala 16</b></div>
        </center>
        <br />
        <div class="texto">
            Será realizada a exibição de um projeto feito pelos nossos alunos de T.I.
            que montaram usando um Arduino! Na mesma sala, os alunos darão pequenas aulas sobre programação
            para aqueles que estiverem interessados e curiosos sobre como funciona essa gigantesca área de atuação, além de 
            jogos programados por eles. Os visitantes estão convidados a jogar conosco!
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Projeto Arduino e Projetos de Programação"</b></div>
        </center>
    </div>

    <div class="Contab">
        <figure class="figura2">
            <img src="~/Imagens/contabilidade.jpg" width="150" height="150" alt="Imagem Xis">
        </figure>

        <center class="sala">
            <div><b>Sala 17</b></div>
        </center>
        <br />
        <div class="texto">
            Na sala 17 será apresentado um projeto sobre Contabilidade e Recursos Humanos, onde os visitantes
            terão a oportunidade de tirar dúvidas e aprender um pouco mais sobre essas áreas.

        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Paixão por vencer em diferentes perspectivas visão 4.0"</b></div>
        </center>
    </div>

    <div class="Empreen">
        <figure class="figura1">
            <img src="~/Imagens/empreendedorismo-ideia-nova.jpg" width="150" height="150" alt="Imagem Xis">
        </figure>

        <center class="sala">
            <div><b>Sala 18</b></div>
        </center>
        <br />
        <div class="texto">
            Os nossos alunos de Administração apresentarão um projeto inspirador e motivacional sobre empreendedorismo, onde estarão incentivando
        e dando dicas sobre o assunto, mostrando que usando o que estiver ao seu alcance, mesmo que seja pouco, você tem capacidade para
        gerar muito lucro.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Comece de onde você está. Use o que tiver. Faça o que você puder."</b></div>
        </center>
    </div>

   
    <br />

</div>