@{
    ViewBag.Title = "SegundoAndar";
}

<div class="andar_content">
    
    <link href="~/Content/andar2.css" rel="stylesheet" />
    <div class="img">
        <div class="andar">2º Andar</div>
        <img src="~/Imagens/img2Andar.jpg" style="width:100%" />
    </div>

    <div class="frase">
        Neste andar você terá uma variedade de atividades: aprender sobre o processo de edição,
        elaborar o seu currículo, fazer o teste vocacional, carteira de trabalho e ainda assistir um Talk
        Show sobre a carreira do Secretariado.
    </div>
    <div class="Comunicação">
        <figure class="figura1">
            <img src="~/Imagens/Comu.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Sala 21</b></div>
        </center>
        <br />
        <div class="texto">
            Venha conhecer nossa turma de Comunicação Visual, 
            aqui você poderá acompanhar todo o processo de desenho 
            e edição até de uma caricatura por exemplo!
            Você terá a chance de ter uma noção melhor de tudo que 
            acontece aqui no curso de comunicação visual.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"O ver e o entender, o idealizar e o realizar"</b></div>
        </center>
    </div>

    <div class="Curriculo">
        <figure class="figura2">
            <img src="~/Imagens/como-fazer-um-curriculo-bem-feito-790x527.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Sala 22</b></div>
        </center>
        <br />
        <div class="texto">
            Em colaboração com a CEDESP, os visitantes terão a oportunidade de montar o seu currículo!
            Isso mesmo, pessoas de todas as idades poderão tirar suas dúvidas, não perca essa chance! 
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Maximizando oportunidades"</b></div>
        </center>
    </div>

    <div class="CAT">
        <figure class="figura1">
            <img src="~/Imagens/Vocação.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Sala 23</b></div>
        </center>
        <br />
        <div class="texto">
            O CAT (Centro de Apoio ao Trabalhador) estará realizando a emissão de carteira de trabalho e
            encaminhando o adulto para entrevista. Se você ainda não tem certeza do que cursar, ou quer
            uma segunda opinião sobre o que você já planeja fazer, poderá fazer o teste vocacional que irá
            ajudar bastante e lhe aconselhar a tomar uma decisão melhor.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"A melhor escolha é aquela consciente!"</b></div>
        </center>
    </div>

    <div class="BatePapo">
        <figure class="figura2">
            <img src="~/Imagens/BatePapo.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Sala 24</b></div>
        </center>
        <br />
        <div class="texto">
            Aqui você poderá assistir e até participar de um Talk Show! Isso mesmo, profissionais de Secretariado estarão aqui e falarão um pouco sobre a área, segredos,
            técnicas e muito mais. Claro que vai ser algo bem interativo com o público, não perca a chance
            e venha dar uma olhada.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Construindo Histórias de Sucesso"</b></div>
        </center>
    </div>
    <br />

</div>