@{
    ViewBag.Title = "Terceiro Andar";
}

<div class="andar_content">

    <link href="~/Content/andar3.css" rel="stylesheet" />
    <div class="img">
        <div class="andar">3º Andar</div>
        <img src="../Imagens/img3Andar.jpg" style="width:100%" />
    </div>

    <div class="frase">
        Aqui no terceiro andar você vai ver palestras que irão tratar sobre as tendências atuais, como: O simulador do Inglês da Cambridge, trajetórias profissionais, o futuro da geração "Z" e de como vencer as dificuldades de aprendizado.
    </div>

    <div class="Comunicação">
        <figure class="figura1">
            <img src="~/Imagens/imgSala27.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Sala 27</b></div>
        </center>
        <br />
        <div class="texto">
            Teste em qual nível de inglês você está e confira como funciona as certificações da Cambridge.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"O idioma universal do século 21. Venha aprender com a gente!"</b></div>
        </center>
    </div>

    <div class="Curriculo">
        <figure class="figura2">
            <img src="~/Imagens/imgAud9.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Auditório 9h:30</b></div>
        </center>
        <br />
        <div class="texto">
            Nesta palestra será falado sobre o futuro profissional da geração “Z”! Como serão os jovens do futuro? Eles se tornarão muito mais dependentes da Tecnologia? Isso é bom ou ruim? Esse será o tema da palestra apresentada por Marina Proença da Rede Globo que com certeza irá chamar a atenção de muitas pessoas!
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"O futuro do trabalho para a geração Z"</b></div>
        </center>
    </div>

    <div class="CAT">
        <figure class="figura1">
            <img src="~/Imagens/imgAud11.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Auditório 11h:00</b></div>
        </center>
        <br />
        <div class="texto">
             O tema dessa palestra é sobre algo que com certeza merece muito mais atenção, a dificuldade no aprendizado que afeta muitos jovens, será comentado sobre a dislexia e como lidar com isso, essa palestra será exclusiva para educadores e pais.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Vencendo as dificuldades de aprendizado, entre elas a Dislexia"</b></div>
        </center>
    </div>

    <div class="BatePapo">
        <figure class="figura2">
            <img src="~/Imagens/imgAud1230.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div><b>Auditório 12h:30</b></div>
        </center>
        <br />
        <div class="texto">
            Nesta palestra nosso ex-aluno falará sobre sua trajetória profissional, como é, o que ocorreu durante sua carreira, se ocorrerão diversas vitórias e claro que também haverão diversos desafios durante esse trajeto, essa palestra será apresentada por Alison Rocha, um ex-aluno e coordenador de escola, não perca!!!
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b>"Trajetória profissional: Desafio e Vitórias!"</b></div>
        </center>
    </div>
    <br />
    
</div>