
@{
    /**/

    ViewBag.Title = "Terreo";
}
<div class="andar_content">
       <link href="~/Content/Terreo.css" rel="stylesheet" />
    
    <center class="andar">
        <div>Térreo</div>
    </center>
    <div class="img">
        <img src="~/Imagens/imgTerreo.jpg" style="width:100%" />
    </div>

    <div class="frase">
        Contaremos com diversas apresentações e exibições de projetos.
         Os projetos deste andar são voltados para a área de eletromecânica, 
        eletrotécnica e CEDESP Ave Maria, 
        contaremos também com a barraca de alimentos e bebidas,
         barraca de livros do frei Xavier (fundador da instituição) 
        e distribuição de senhas para as palestras.
    </div>
   
    <div class="cedesp">
        <figure class="cedes">
            <img src="~/Imagens/cedesp.png" width="150" height="150" />
        </figure>

        <center class="sala">
            <div>CEDESP</div>
        </center>
        <br />
        <div>
            Os alunos do CEDESP apresentarão 
            projetos relacionados ao que aprendem no curso.
            <br />
            <br />
        </div>
     </div>

    <div class="Info">
        <figure class="figura1">
            <img src="~/Imagens//imgJuridico.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div>Sala 3</div>
        </center>
        <br />
        <div>
            Contaremos com atendimento jurídico, profissionais da área 
            estarão disponíveis para tirar dúvidas relacionadas ao direito 
            do cidadão.
        </div>
        <br />
        <center class="fonte">
            <div><b> "A base da sociedade é a justiça!"</b></div>
        </center>
    </div>

    <div class="sala4">
        <figure class="figura2">
            <img src="~/Imagens/imgvista.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div>Sala 4</div>
        </center>
        <br />
        <div>
            Na sala 4, teremos a oportunidade de realizar um exame de vista 
            gratuito.
        </div>
        <br />
        <br />
        <center class="fonte">
            <div><b> "Veja como anda a saúde dos seus olhos"</b></div>
        </center>
    </div>

    <div class="Contab">
        <figure class="figura1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFRpKRmG9Nc_ruDn2FD_GQNaInX80tCxUKL8JvbKyDWnf-qG0y" 150" height="150">
        </figure>

        <center class="sala">
            <div>Sala 5</div>
        </center>
        <br />
        <div>
            Os visitantes poderão participar de uma simulação de 
            entrevista onde serão esclarecidas diversas dúvidas sobre 
            qual postura um entrevistado deve apresentar e o 
            que falar em uma entrevista de emprego.
        </div>
        <br />
        <center class="fonte">
            <div><b>"Como devo me comportar em uma entrevista?"</b></div>
        </center>
    </div>

    <div class="Empreen">
        <figure class="figura2">
            <img src="~/Imagens/imgmecanicaAuto.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div>Oficina Mecânica de Autos</div>
        </center>
        <br />
        <div>
            Alunos de mecânica de auto, irão apresentar curiosidades sobre alguns motores, 
            também apresentarão o funcionamento de um motor a diesel desmontado e reações que acontecem em carros.
        </div>
    </div>

    <div class="Eletrica">

        <figure class="figura1">
            <img src="~/Imagens/imgAutoEletrica.jpg" width="150" height="150">
        </figure>
        <center class="sala1">
            <div>Oficina de Eletromecânica de Autos</div>
        </center>
        <br />
        <div>
         Os alunos de eletromecânica de autos apresentarão algumas curiosidades 
            sobre o funcionamento da sinalização de um carro,
            sistemas de alarme e som. 
        </div>

    </div>

    <div class="Tecnica">
        <figure class="figura2">
            <img src="~/Imagens/imgeletrotecnica.jpg" width="150" height="150">
        </figure>

        <center class="sala">
            <div>Oficina de Eletrotécnica</div>
        </center>
        <br />
        <div>
            Junto dos professores os alunos de 
            Eletrotécnica apresentarão curiosidades 
            e esclarecerão dúvidas de equipamentos utilizados 
            em instalações elétricas, ferramentas, materiais e etc.
        </div>
        <br />
        <center class="fonte">
        </center>
    </div>
    </div>
